body {
    font-family: Arial, sans-serif; 
    font-size: 1rem;
    line-height: 1.5; 
    color: #333; /* Text color */
    background-color: #FFEFCD; /* background color */
}

.container {
    max-width: 1200px; 
    margin: 0 auto;
    padding: 0 1rem;
}

h1, h2 {
     color: #A58E74
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem 0;
}

.littleLemon img {
    max-width: 100%; 
    height: auto;
}

.navbar {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}

.navbar ul {
    list-style: none;
    display: flex;
    gap: 1rem; 
}

.navbar li {
    margin: 0;
}

.navbar a {
    color: #E09132; /* Link color */
    text-decoration: none; /* Remove underline */
    padding: 0.5rem 1rem; /* Add padding */
}

.navbar a:hover {
    text-decoration: underline; /* Underline on hover */
}

section {
    padding: 2rem 1rem;
}

article {
    margin-bottom: 2rem;
}

/* Grid layout for columns */
.row {
    display: grid;
    grid-template-row: repeat(auto-fit, minmax(250px, 1fr)); /* grid with rows */
    gap: 2rem; /* Space between columns */
}

.row {
    border-radius: 8px; /* rounded corners */
    overflow: hidden;
    background-color: #E09132; /* Background color for boxes */
    text-align: center;
    padding: 1rem;
}

.row img {
    width: 100%; 
    height: auto;
    border-bottom: 1px solid #ddd; 
}

.row p {
    padding: 1rem 0;
}






